{% extends "base.html" %} {% block content %}
<section>
  <div class="hero">
    <h1 class="title">Author list</h1>
  </div>
</section>
<section>
  <table class="table">
    <tr>
      <th>Author name</th>
      <th>Books by author</th>
    </tr>
    {% for author in authors %}
    <tr>
      <td>{{author.name }}</td>
      <td><a href="/books/author/{{author.id}}" class="btn btn-primary">View Books</a></td>
    </tr>
    {% endfor %} 
    <tr>
      <td><a href="/authors/new" class="btn btn-primary">New author</a></td>

      </tr>
  </table>
</section>


{% endblock %}
